body {
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    align-items: center;
  }
.winScore{
    color: rgb(19, 8, 6);
}
.loseScore{
    color: rgb(102, 94, 94);
}
button {
    background-color: #90c6e0;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
  }
button:active{
    color: #589fdd;
}
button:disabled{
    opacity: 70%;
    color: white;
}
.buttonMain {border-radius: 10px;}
.buttonAux {border-radius: 18px}

.newGameColor{
    background-color: #02839B;
}

.fcImage{
    width: 120px;
    height: 120px;
    margin: 5px;
}
select {
    width:150px;
    height: 30px;
    font-size: 14px;
    color: white;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:2px;
}
.score{
    font-size: 40px;
}
.color0{
    background-color: #A01E16;
}
.color1{
    background-color: #283093;
}
.color2{
    background-color: #e3b43f;
}
.color3{
    background-color: #017036;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    color: #64698d;
  }
